mixin button(type, option, text)
    -var typeLow = type.toLowerCase()

    button(class='btn '+ typeLow +'-btn')&attributes(attributes) 
        span.center
            include svg-icon
            +svg-icon(typeLow)
            if option
                +svg-icon(option.toLowerCase())
            span.btn-text= text || type
